{% extends 'main.html' %}

{% block title %} Movie List {% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <h4>Hello {{ user.username }}</h4>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login_view' %}"><button>Login</button></a>
    {% endif %}

    <hr>

    <a href="{% url 'add' %}"><button>Add film</button></a>

    <hr>

    {% if movies|length > 0 %}
        <h2>Counter of films: {{ movies|length }}</h2>

        <div class="container">

        {% for movie in movies %}

                <div class="box">
                    <div style="height: 80px">
                        <h2>{{ movie }}</h2>
                    </div>
                    <div>
                        <p>{{ movie.release_date }}</p>
                        <p>{{ movie.description }}</p>
                    </div>
                    <div>
                        <img class="scaled-image" src="http://127.0.0.1:8000/homepage/poster/{{ movie.poster }}" alt="Description of image" />
                    </div>

                    <a href="{% url 'edit' movie.movie_id %}">Edit</a>
                    <a href="{% url 'delete' movie.movie_id %}">Delete</a>
                </div>

        {% endfor %}
    {% else %}
        <h2>Movies are not available</h2>
    {% endif %}
        </div>
{% endblock %}
