body {
    padding: 2rem;
    padding: 0;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.navbar1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

ul {
    display: flex;
    width: 500px;
    list-style-type: none;
    justify-content: space-around;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

  .unstyled-button {
    all: unset;
    cursor: pointer;
  }

.icon{
    font-size: 1.6rem;
    padding: 10px 0;
    margin: 0;
}


